<input id="origin-input" class="controls" type="text"
    placeholder="Enter an origin location">

<input id="destination-input" class="controls" type="text"
    placeholder="Enter a destination location">
    
<div id="mode-selector" class="controls">
  <label for="changemode-walking">
    <input name="gp1" type="radio" id="changemode-walking" checked>
    <span>Walking</span>
  </label>

  <label for="changemode-transit">
    <input name="gp1" type="radio" id="changemode-transit">
    <span>Transit</span>
  </label>

  <label for="changemode-driving">
    <input name="gp1" type="radio" id="changemode-driving">
    <span>Driving</span>
  </label>
</div>
<div id="map"></div>
