<% chatrooms.each do |chatroom| %>
  <li>
    <span>
      <% if chatroom.is_group %>
          <%= link_to  "#{image_tag chatroom_avatar(chatroom)} #{chatroom.name}".html_safe, chatroom_path(chatroom) if chatroom.is_group%>
      <% else %>
        <% get_friend(chatroom).each do |group| %>
          <%= link_to  "#{image_tag user_avatar(group.user)} #{group.user.list_name}".html_safe, chatroom_path(chatroom) unless chatroom.is_group%>
        <% end %>
      <% end %>
    </span>
  </li>
<% end %>
