<ul class="chat-room">
  <% chatrooms.each do |chatroom| %>
    <% if chatroom.is_group %>
      <br>
      <li>
       <%= link_to  "#{image_tag chatroom_avatar(chatroom)} #{chatroom.name}".html_safe, chatroom_path(chatroom) if chatroom.is_group%> </li>
    <% else %>
      <% get_friend(chatroom).each do |group| %>
        <li>
          <%= link_to  "#{image_tag user_avatar(group.user)} #{group.user.list_name}".html_safe, chatroom_path(chatroom) unless chatroom.is_group%>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
