<nav>
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo">
      <%= image_tag "logo.png" %>GOWHERE
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a href="<%= users_path %>">
          <i class="material-icons">search</i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="material-icons">chat_bubble_outline</i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="material-icons">perm_media</i>
        </a>
      </li>
      <li>
        <a href="#" data-target="slide-out" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
      </li>
    </ul>
    <ul class="mobile-bar">
      <li>
        <a href="<%= users_path %>">
          <i class="material-icons">search</i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="material-icons">chat_bubble_outline</i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="material-icons">perm_media</i>
        </a>
      </li>
      <li>
        <a href="#" data-target="slide-out" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
      </li>
    </ul>
  </div>
</nav>