<% get_chatrooms %>
群組對話
<a data-target="add-groups" class="add-groups  modal-trigger" href="<%= new_chatroom_path %>">
  <i class="material-icons right">add_circle</i>
</a>
<ul class="user-list">
  <% unless @groups.size > 0 %>
    No Group
  <% else %>
    <%= render  "shared/chatroom", chatrooms: @groups %>
  <% end %>
</ul>好友列表
<ul class="user-list">
  <% unless @friends.size > 0 %>
    No Friends
  <% else %>
    <%= render  "shared/chatroom", chatrooms: @friends %>
  <% end %>
</ul>