<h1>following...</h1>
<div>
  <table>
    <thead>
      <tr>
        <td>使用者</td>
      </tr>
      <tbody>
        <% @follow_whom_list.each do |follow_whom| %>
          <tr>
            <td><%= find_fullname(follow_whom.follower_id) %></td>
            <td><%= button_to "取消追蹤", follower_path(follow_whom.id), method: "delete" %></td>
          </tr>
        <% end %>
      </tbody>
    </thead>
  </table>
  <%= link_to "回上一頁", :back %>
</div>
