<h1>follow me...</h1>
<div>
  <table>
    <thead>
      <tr>
        <td>使用者</td>
      </tr>
      <tbody>
        <% @follow_me_list.each do |follow_me| %>
          <tr>
            <td><%= find_fullname(follow_me.user_id) %></td>
          </tr>
        <% end %>
      </tbody>
    </thead>
  </table>
  <%= link_to "回上一頁", :back %>
</div>
