<h1>follow me...</h1>
<div>
  <table>
    <thead>
      <tr>
        <td>ID</td>
        <td>Email</td>
      </tr>
      <tbody>
        <% @follow_me_list.each do |follow_me| %>
          <tr>
            <td><%= follow_me.user_id %></td>
            <td><%= find_user(follow_me.user_id).email %></td>
          </tr>
        <% end %>
      </tbody>
    </thead>
  </table>
  <%= link_to "回上一頁", :back %>
</div>
