default: &default
  address: "smtp.gmail.com"
  port: 587
  domain: "gmail.com"
  authentication: "plain"
  user_name: <%= ENV['SEMINAR_MAIL_ACCOUNT'] %>
  password: <%= ENV['SEMINAR_MAIL_PASSWORD'] %>
  enable_starttls_auto: true
development:
  <<: *default
test:
  <<: *default
production:
  <<: *default
