// Place all the styles related to the Chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#messages {
  height: 400px;
  max-height: 400px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border: 5px solid #02a89c;
  padding: 5px;
}

#new_message {
  background-color: #02a89c;
}

#new_message input[type='text'] {
  background-color: #f4f5f5;
  width: 85%;
  margin-left: 5px;
  height: 2.5rem;
}

#new_message input[type='submit'] {
  background-color: #f4f5f5;
  width: calc(13% - 5px);
  height: 100%;
  height: 2.5rem;
}

.chat-room li {
  width: 100%;
}

.chat-room li img {
  width: 36px;
  height: 36px;
  display: inline-block;
}

.chat-room li a {
  vertical-align: middle;
}

.chat-message {
  padding-right: 1em;
  margin-bottom: 5px;
}

.message-img img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.message-img {
  vertical-align: middle;
  display: inline-block;
}

.message-text {
  vertical-align: middle;
  display: inline-block;
  width: calc(100% - 40px);
}

.message-text .time {
  float: right;
  color: #9e9e9e;
  font-size: 0.7em;
}

.message-conten {
  background-color: #f4f5f5;
  display: inline-block;
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
}