nav .hide-on-med-and-down a.sidenav-trigger {
  display: block;
}

nav {
  background-color: #00A99D;
}

.brand-logo {
  line-height: 60px;
}

.brand-logo img {
  vertical-align: middle;
  height: 56px;
}

nav .brand-logo {
  font-size: 1.3em;
}

nav .brand-logo img {
  margin-right: 0.5em;
}

.mobile-bar {
  display: none;
}

.mobile-bar li {
  width: 25%;
  text-align: center;
}

.sidenav .user-view {
  padding: 24px;
  padding-bottom: 32px;
  text-align: center;
}

.sidenav .right {
  margin-top: -25px;
}

.sidenav .user-view .circle {
  height: 128px;
  width: 128px;
  display: inline-block;
}

.sidenav .user-view .name {
  margin-top: 0px;
  font-size: 1.3em;
}

.sidenav .user-view .create {
  margin-top: -20px;
}

.sidenav .user-view .background {
  background-color: #000000;
}

.sidenav .user-view .background img {
  opacity: 0.8;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    display: none;
  }
  .mobile-bar {
    display: block;
  }
}