<%= link_to  "回上頁", chatroom_notes_path(@chatroom) %>

<div class="row">
  <div class="col s12 m6">
    <div class="card darken-1">
      <div class="card-content">
        <%= @note.content %>
      </div>
      <% if can? :edit, @note %>
        <div class="card-action">
          <%= link_to "編輯", edit_note_path(@note) %>
          <%= link_to "刪除", note_path(@note), method: :delete, data:{ confirm: "確定刪除？"} %>
        </div>
      <% end %>
    </div>
  </div>
</div>